* {
    padding:0;
    margin:0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding:0;
    background-color: #173a85;
}
.medsos ul li {
    display: inline-block;
    margin-right: 0;
}
.container {
    width:80%;
    margin:0% auto;
}
.container:after {
    content:'';
    display: block;
    clear: both;
}
header h1 {
    float: left;
    /* padding:15px 0; */
    color: #173a85;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
    padding:0.09px 0.05px;
    padding-right: 0.09px 0.05px;
}
header ul li a {
    padding: 10px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: #173a85;
    color: #ffffff;
}

nav {
    margin:0px;
    width: 100%;
    font-family: arial;
}
nav ul {
    background:#37988e00;
    padding: 0;
    list-style: none;
    position: relative;
    width: 80%;
 }
nav ul li{
    float:left;
}
nav ul li:hover{
    background:#71b2dd;
}
nav ul li:hover a{
     color:rgb(255, 255, 255);
}
nav ul li a{
     display: block;
     padding: 25px;
     padding-bottom: 15%;
     padding-top: 15%;
     color: #fff;
     text-decoration: none;
}

.active {
    background-color: #173a85;
    color: #00fff2;
}
.banner {
    height:69vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px auto;
}
.banner:after {
    content:'';
    display: block;
    position:sticky;
    padding-top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(100, 203, 255, .6);
}
.banner h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 1;
    padding: 20px 50px;
    border:3px solid rgb(255, 255, 255);
    margin-top: 15%;
    margin-left: -1%;
    box-shadow: #223081;
}
section {
    padding: 50px 0;
}
section h3 {
    text-align: center;
    padding-top: 30px;
    color: #173a85;
    margin-bottom: 15px;
}
.about,
.service {
    padding-bottom: 100px;
}
.about p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    text-align: center;
    font-family: Tahoma;
    margin-bottom: 20px;
}
.about p1 {
    color: #666;
    word-spacing: 2px;
    line-height: 5px;
    text-align: left;
    font-family: Tahoma;
    margin-bottom: 20px;
}
.about p2 {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    text-align: left;
    font-family: Tahoma;
    margin-bottom: 20px;
}
.service {
    background-color: #fafafa;
}
.box {
    border:1px solid;
    color: #223081;
}

.box .col-4 {
    width:25%;
    padding:20px;
    box-sizing: border-box;

    text-align: center;
    float: left;
    margin-right: 20px;
    margin-left: 55px;
}
.box .col-5 {
    width:25%;
    padding:20px;
    box-sizing: border-box;

    text-align: center;
    float: left;
    margin-right: 0px;
    margin-left: 0px;
}
.icon {
    width:70px;
    height:70px;
    border:1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    margin: 0 auto;
}
.box .col-4 h4 {
    margin:15px 0;
}
.box .col-5 h5 {
    margin:15px 0;
}
footer {
    padding:30px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.bg-loader {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #223081;
    border-right-color: #223081;
    animation: puterin .8s linear infinite;;
}
.label {
    background-color: #173a85;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #00ffea;
}
@keyframes puterin {
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 768px){
    .container {
        width: 90%;
    }
    header h1 {
        text-align: center;
        float: none;
    }
    header ul {
        text-align: center;
        float: none;
    }
    .box .col-4 {
        width: 100%;
        float: none;
    }
    
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 40%;
}

.li_h {
    height: 37px;
}